@use "../../scss/index" as *;

.contenidoCentrado{
  text-align: center !important;
  img {
    margin: 0 auto !important;
  }
}

.gruposOpciones {
  padding: 20px 10px 10px 10px;
}

// Estilos para cards trasparentes
.card {
  margin-top: 5px !important;
  background-color: $background-transparente !important;
  //border-color: $background-transparente !important;
  border: $background-transparente !important;
  //border-bottom: $background-transparente !important;

  .card-header {
    color: $font-dark !important;
    background-color: $background-transparente !important;
    border-bottom: $background-transparente !important;
  }

  .card-body {
    cursor: pointer !important;
  
    img {
      border-radius: 20px !important;
      transition: all 0.9s ease; /* Propiedad estándar */
    }
  
    img:hover {
      transform: scale(1.25);
    }
  }
  

}
