@use "../../../scss/index.scss" as *;

.basic-modal-principal {
  margin-top: 40px !important;
  border-color: $background-transparente;
  background-color: $background-transparente;

  .modal-content {
    border-radius: 25px;
    border-color: $background-transparente;
    overflow: hidden;

    /* ================= HEADER ================= */
    .modal-header {
      padding: 20px 20px;
      border: 0;
      display: flex;
      align-items: center;

      h2 {
        margin: 0;
      }

      .modal-title {
        padding: 15px;
        border: 0;
        display: block;
        margin: -25px -15px -10px auto;

        svg {
          width: 35px;
          height: 35px;
          fill: $primary;

          &:hover {
            cursor: pointer;
          }
        }
      }
    }

    /* ================= BODY ================= */
    .modal-body {
      padding: 20px 40px 40px 40px;
    }

    /* ================= BOTONES ================= */
    .botones {
      display: flex !important;
      flex-wrap: nowrap !important; // 🔥 CLAVE
      gap: 12px;
      margin-top: 30px;

      /* anula completamente el comportamiento de Row */
      &.row {
        margin-left: 0;
        margin-right: 0;
      }

      > .col {
        flex: 1 1 50% !important;
        max-width: 50% !important;
        padding: 0 !important;
      }

      button {
        width: 100%;
        padding: 12px 0;
        font-size: 16px;
        border-radius: 10px;
      }
    }
  }
}
